@media (max-width: 768px) {
    .all-posts-page-layout {
      grid-template-columns: 1fr;
      padding: 0;
    }
  

    .all-posts-left-content .blog-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12rem;
      margin-top: 10rem;
      padding: 1rem;
    }

    .all-posts-right-content {
        padding-left: 0;
    }

    .all-posts-right-content .card__container.card--default.card--small.card--hoverable.mobile-view {
        margin-top: 12rem;
    }

    .all-posts-right-content .signup__container {
        margin: 2rem auto;
    }

    .all-posts-left-content {
        margin-top: 2rem;
    }
  }