.audio-version {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.audio-version p em {
  font-family: var(--font-merriweather);
}

.audio-player {
  display: flex;
  width: 700px;
  height: 56px;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 16px;
  align-items: center;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1),
    0px 2px 2px 0px rgba(0, 0, 0, 0.05), 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
  gap: 24px;
  margin-bottom: 1rem;
}

.audio-player__play-button,
.audio-player__volume-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

.audio-player__play-button img,
.audio-player__volume-button img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.audio-player__controls {
  display: flex;
  width: 550px;
  height: 24px;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
}

.audio-player__time {
  font-family: var(--font-merriweather);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
  text-align: center;
  flex-shrink: 0;
}

.current-time {
  width: 46px;
  height: 24px;
}

.total-time {
  width: 43px;
  height: 24px;
}

.audio-player__progress-container {
  width: 589px;
  height: 4px;
  background-color: #fafafa;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  flex-grow: 1;
}

.audio-player__progress-bar {
  height: 100%;
  background-color: #0d63eb;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.1s linear;
}

/* Responsive styles */
@media (max-width: 900px) {
  .audio-player {
    width: 100%;
  }

  .audio-player__controls {
    width: auto;
    flex-grow: 1;
  }

  .audio-player__progress-container {
    width: auto;
    flex-grow: 1;
  }
}

@media (max-width: 480px) {
  .audio-player {
    height: auto;
    padding: 12px;
    gap: 8px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .audio-player__play-button {
    order: 1;
    margin-right: 8px;
  }

  .audio-player__controls {
    order: 2;
    flex-wrap: nowrap;
    width: auto;
    flex-grow: 1;
    gap: 8px;
  }

  .current-time {
    order: 1;
    width: 42px;
    font-size: 12px;
  }

  .audio-player__progress-container {
    order: 2;
    min-width: 80px;
  }

  .total-time {
    order: 3;
    width: 42px;
    font-size: 12px;
  }

  .audio-player__volume-button {
    order: 3;
    margin-left: 8px;
  }
}
