.author-badge {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  
  .author-badge__image {
    width: 6.5rem;
    height: auto;
    object-fit: cover;
  }
  
  .author-badge__content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  
  .author-badge__name {
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #000000;
    width: 100%;
    max-width: 111px;
  }
  
  .author-badge__title {
    font-family: var(--font-inter);
    font-size: 11px;
    font-weight: 400;
    line-height: 13.75px;
    color: #000000;
    width: 100%;
    max-width: 124px;
  }
  
  /* Media query for responsive design */
  @media (max-width: 768px) {
    .author-badge {
      gap:4rem;
      align-items: center;
    }
    
    .author-badge__image-container {
      width: 40px;
    }
  }