.blog-detail {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0.2rem;
}

.page-layout-blog {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.all-posts-page-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  padding: 2rem;
}

.all-posts-right-content {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  padding-left: 2rem;
}

.left-content-blog {
  padding-right: 1rem;
}

.blog-back-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:1rem;
}

.publication-info {
  margin-top:2rem;
  margin-bottom:2rem;
}

.blog-content {
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}


@media (max-width: 768px) {
  .page-layout-blog {
    grid-template-columns: 1fr;
  }
  
  .left-content-blog{
    padding-right: 0;
  }
}


@media (min-width: 1441px) and (max-width: 1920px) {
  .page-layout {
    width: 90%;
  }
}
