.card__container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border-radius: 6px;
  background: #fff;
}

/* Variants */
.card--default {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05),
    0px 2px 2px 0px rgba(0, 0, 0, 0.05), 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}

.card--outline {
  border: 1px solid #e0e0e0;
  box-shadow: none;
}

.card--flat {
  box-shadow: none;
  background: #f9f9f9;
}

.card__content {
  width: 100%;
  box-shadow: none;
}

/* Sizes - Preserving original padding values */
.card--small {
  padding: 0px 16px 16px 20px;
  max-width: 21.483rem;
  max-height: 21.063rem;
}

@media (max-width: 768px) {
  .card--small {
    padding: 1rem;
    max-width: 100%;
    max-height: none;
  }
   .card--large {
    padding: 1rem;
    max-width: 100%;
    max-height: none;
  }
}

.card--semimedium {
  padding: 0px 16px 16px 20px;
  max-width: 35rem;
  max-height: 43rem;
}

.card--medium {
  padding: 39px 0px 39px 36px;
  max-width: 25rem;
  max-height: 25rem;
}

.card--normal {
  padding: 32px 30px 20px 30px;
  max-width: 24rem;
  max-height: 22rem;
}

.card--large {
  padding: 1rem 1rem;
  max-width: 48rem;
  max-height: 22rem;
}

.card--extra-large {
  padding: 27px 45px 32px 0px;
  max-width: 55.5rem;
  min-height: 17rem;
}

/* Hover effect */
.card--hoverable {
  cursor: pointer;
}

.card--featured {
  padding: 2rem 1rem;
  background-color: #f3efef;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05),
    0px 2px 2px 0px rgba(0, 0, 0, 0.05), 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}
