.menu__section {
  display: inline-flex;
  gap: 1.5rem;
  align-items: center;
}

.header-menu__label {
  color: #1e1e1e;
  font-family: var(--font-inter);
  font-size: 1rem;
  --color-icon: #1e1e1e;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  cursor: pointer;
}
.topic-label {
  background-color: black;
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 2px;
  --color-icon: white;
}

.topic-label.active {
  color: white;
  --color-icon: white;
}

.dropdown-icon {
  margin-left: 6px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.active {
  color: #0d63eb;
  --color-icon: #0d63eb;
}

.dropdown-icon.active {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.header-menu__item {
  text-decoration: none;
}

.header-menu__item-wrapper {
  position: relative;
}

.topic-icon {
  --color-icon: white;
}

.topic-icon.active {
  --color-icon: white;
}

@media (max-width: 1050px) {
  .menu__section {
    flex-direction: column;
    width: 95%;
    text-align: left;
  }

  .header-menu__item-wrapper {
    width: 90%;
    border-bottom: 2px solid #0d63eb;
  }

  .header-menu__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
}
