.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 20px;
  height: 20vh;
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: #fff;
  z-index: 10;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 5.1rem;
  padding-bottom:1rem;
}

.search-content {
  padding-bottom:2.5rem;
  margin-right: 5rem;
  margin-left: 2rem;
}

.custom-searchbox input {
  width: 350px;
  max-width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  padding-right:2.5rem;
}

.custom-searchbox input:focus {
  outline: none;
  border-color: #333;
}

.hero__title {
  width: 438px;
  height: 30px;
  font-family: var(--font-inria);
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
  margin: 0;
  letter-spacing:normal;
}

.hero__subtitle {
  width: 685px;
  height: 15px;
  font-family: var(--font-inria);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #000000;
  margin: 0;
}


.hero__first-partner img {
  padding: 1px;
  width: 122px;
  height: auto;
  object-fit: contain;
}

.hero__second-partner img {
  padding: 1px;
  width: 113px;
  height: auto;
  object-fit: contain;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .hero__container {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding:1rem;
  }
  .hero__content {
    margin-left: 0;
    padding-bottom: 0;
  }
  .search-content {
    display: none;
}

  .hero__title {
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 20px;
  }

  .hero__subtitle {
    text-align: center;
    width: 100%;
    height: auto;
  }
}