.postcard__container {
  width: 100%;
  max-width: 100%;
}

.postcard__content {
  position: relative;
  left: -1rem;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2rem;
  flex-shrink: 0;
}

.postcard__image {
  display: flex;
  width: 13.8rem;
  height: 13.8rem;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
  filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.05));
}

.postcard__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.postcard__text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.postcard__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.postcard__meta {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .postcard__container{
    margin-top: 10rem;
  }
  .postcard__content {
    top: -10rem;
    gap: 1rem;
    flex-direction: column;
  }

  .postcard__text-content {
    padding-left: 1rem;
    width: 310.622px;
  }

  .postcard__image {
    width: 100%;
    position: relative;
    left: 1rem;
  }
  .postcard__details {
    gap: 0.5rem;
  }
}
