blockquote.quote-block {
  font-size: 2rem;
  line-height: 1.5em;
  padding-left: 1rem;
  margin: 2rem 0;
  position: relative;
  border-left: 5px solid #2563eb;
  color: #111827;
  background-color: #fff;
  border-radius: 0.25rem;
  font-family: var(--font-inria);
}

blockquote.quote-block::before {
  content: "\201C";
  display: block;
  color: #0D63EB;
  font-family: "Geist Mono";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  margin-right: 0.25rem;
  top: 0;
}

blockquote.quote-block p {
  font-family: var(--font-inria);
  font-size: 2rem;
  line-height: 1.5em;
  color: #111827;
  margin: 0;
  display: inline;
}

.quote-block-content {
  font-family: var(--font-inria);
  display: inline;
}

.quote-block-footer {
  display: block;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.6);
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

blockquote.quote-block p + .quote-block-footer {
  margin-top: 1rem;
}