.upcomingcard__layout {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.upcomingcard__header {
  position: relative;
  right: -1rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
}

.upcomingcard__image {
  flex: 0 0 auto;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
}

.upcomingcard__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upcomingcard__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}

.upcomingcard__tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.upcomingcard__title {
  margin: 0.5rem 0;
  width: 11.3rem;
  height: auto;
  flex-shrink: 0;
}

.upcomingcard__details {
  max-width: 20.5rem;
}

.upcomingcard__excerpt {
  color: rgba(0, 0, 0, 0.7);
}

/* Mobile view styles */
.mobile-view {
  display: none;
}

.upcomingcard__mobile-image-wrapper {
  position: relative;
  top: -11rem;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: -11rem;
}

.upcomingcard__mobile-image-wrapper img {
  height: 13.8rem;
  width: 13.8rem;
  object-fit: cover;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .upcomingcard__layout {
    gap:0.5rem; 
  }
  .upcomingcard__title {
    margin: 0.5rem 0;
    width: auto;
    height:auto;
  }
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: flex;
  }
  .upcomingcard__tag{
    padding: 0rem 0rem;
  }
  .upcomingcard__mobile-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
 
  .mobile-view .upcomingcard__mobile-layout {
  display: flex;
  flex-direction: column;
  min-height: 300px; 
  height: 100%;
}

.upcomingcard__mobile-content-container {
  flex: 1; 
}

}