
  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



:root {
  font-size: 16px;
  --yellow-light: rgba(255, 235, 205, 1);
  --yellow-action: rgba(255, 180, 70, 1);
  --yellow-icon: rgba(255, 215, 156, 1);
  --yellow-rich: rgba(36, 21, 0, 1);
  --blue-text: rgba(0, 120, 156, 1);
  --blue-light: rgba(224, 248, 255, 1);
  --blue-action: #65D0F0;
  --blue-rich: rgba(1, 42, 55, 1);
  --peach-action: rgba(247, 158, 130, 1);
  --peach-light: rgba(255, 233, 229, 1);
  --peach-rich: #5C1C00;
  --peach-text: rgba(214, 53, 18, 1);
  --peach-icon: rgba(246, 190, 182, 1);
  --purple-icon: rgba(219, 198, 254, 1);
  --teal-light: rgba(218, 250, 235, 1);
  --teal-action: #0BCAC4;
  --teal-text: rgba(4, 120, 127, 1);
  --nu-red: #C8102E;
  --featured-box-height: 10px;
}
body{
  margin:0
}

h1.eyebrow{
  font-size: 16px;
}
h1.eyebrow.blue{
  color: var(--blue-text);
}

h1{
  font-size: 50px;
  font-family: 'Space Mono', monospace;
}
/* h2.eyebrow.peach{
  color: var(--peach-text);
}
h5.eyebrow.peach-light{
  background-color: var(--peach-light);
} */
h2.eyebrow{
  font-size: 14px;
}

h3.eyebrow{
  font-size: 18px;
  padding-bottom:2rem;
}
h2{
  font-family: 'Space Grotesk', sans-serif;
}
h3{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  margin:0;
}
h4{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
}
p, li{
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;

}


.title h1{
  margin:0;
  font-size: 36px;
  line-height: 1.4;
}
.title #highlight{
  color: var(--blue-text);
}

.header-section{

  background-color: #000000;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
  min-height:50px;
  border-bottom:1px solid #000000;
}
.logo-section{

  color: #ffffff;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:10px 20px;
  min-height: 55px;
  gap: 20px;
  font-family: 'Space Grotesk', sans-serif;
}
.logo img{
  height: 30px;
  padding-right: 20px;
}
.logo img:nth-child(2){
  border-right: 1px solid #ffffff;
}
.bars {
  display: none;
  font-size: 30px;
  color: #ffffff;
  padding-right:20px;
}
.menu{
  background-color: #ffffff;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:fit-content;
  height:inherit;
  padding:10px 60px;
  min-height: 55px;
  font-family: 'Space Mono', monospace;
  gap: 20px;
  z-index:1000;
}
.wordmark{
  font-size:0.8em;
}
.menu a{
  margin:0;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}
.dropdown .dropbtn { 
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-size:inherit;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}



a.btn {
  font-size: 0.8rem;
  margin:0;
  font-weight: 700;
  letter-spacing: 0.09em;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono', monospace;
  color: #000000;
}
input.btn{
  font-size: 0.8rem;
  margin:0;
  font-weight: 700;
  letter-spacing: 0.09em;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono', monospace;
  color: #000000;
}
a.btn:hover{
  cursor: pointer;
}
.btn-grp{
  display:flex;
  flex-direction: row;
  gap: 1rem;
  padding-top:1rem;
}
.btn-primary{
  color: #ffffff;
  background: var(--yellow-action) !important;
  border: 1px solid #000000;
}
.btn-spl{
  color: #ffffff;
  background: var(--yellow-action) !important;
  height:100% !important;
  width:25% !important;
  border-left: 1px solid #000000;
}

.btn-dark{
  color: #000000 !important;
}
.btn-secondary{
  color: #000000;
  background: var(--peach-action);
  border: 1px solid #000000;
}
.btn-tertiary{
  color: #ffffff;
  background: var(--teal-light);
}
.btn-blue{
  color: #ffffff;
  background: var(--blue-light);
}
.btn-blue:hover{
  color: #ffffff;
  background: var(--blue-action);
}
.btn-tertiary:hover{
  color: #ffffff;
  background: var(--teal-action);
}
.btn-ghost{
  padding: 0 !important;
  gap:10px;
  justify-content: flex-start !important;
  align-items: ce !important;
}

.btn-peach-light{
  color: var(--peach-icon) !important;
}

.btn-small{
  width:  fit-content;
  padding: 0 15px;
  height: 35px;
  min-height: 35px;
}
.btn-medium{
  width:  fit-content;
  min-height: 42px;
  padding: 0 15px;
  height: 42px;
}
.btn-large{
  width:  fit-content;
  padding: 0 10px;
  height: 64px;
  min-height: 64px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  background: #ffffff;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
@media (max-width: 768px) {
  .header-section{
    justify-content: flex-end;
  }
  .logo-section {
    display:none;
  }
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 .bars {
  display: block;
}

}

.hero{
  height:fit-content;
  width:100%;
  background: url(../assets/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #D3D3D350;
  background-blend-mode:lighten;
  background-position: center;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Space Grotesk', sans-serif;
}

.hero-content{
  padding: 0 0rem 0rem 5rem;
  width:35%;
}
.featured-section{
  width: 65%;
  padding: 1rem;
}
.featured-content{
background-color: white;
padding:2rem;
display:flex;
gap:1rem;
flex-direction: column;
}
.featured-image img{
  width:100%;
  object-fit: cover;
}
.eyebrow{
  margin:0;
  text-transform: uppercase;
  font-family: 'Space Mono', monospace;
  letter-spacing: 2.4px;
}
h5.eyebrow{
  /* background-color: var(--teal-action); */
  width:fit-content;
  padding: 0.2em 0.5em;
  font-size: 0.7em;
}
/* h5.eyebrow.blue-eyebrow{
  background-color: var(--blue-action);
}
h5.eyebrow.peach{
  background-color: var(--peach-action) !important;
} */
.v-window.v-theme--light.v-carousel{
  height:fit-content !important;
  min-height: 500px;;
}

@media (max-width: 768px) {
  .hero{
    height: 100%;
    flex-direction: column;
  }
  .hero-content{
    padding: 5rem 1rem 0rem 1rem;
    width:100%;
  }
  .featured-section{
    width: 100%;
    padding: 5rem 1rem;
  }

}


.mission-section{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  background-color: var(--peach-light);
  height: 700px;
}
.mission-text{
  padding: 5rem;
  width: 70%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.mission-image{
  background-image: url("../assets/mission-image.png");
  width:30%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  
  .mission-section{
    display:flex;
    flex-direction: column-reverse;
    height: fit-content;
    width:fit-content
  }

  .mission-text{
    padding: 1rem;
    width: fit-content;
  }
  .mission-image{
    display:none;
  }
}

.our-work-separator{
  background-color: var(--teal-text);
  color: #ffffff;
}
.our-work-separator-text{
  padding: 2rem 5rem;
}
.our-work-section{
  background-color: var(--teal-light);
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #000000;
}
.our-work-layout{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 2rem;
  gap: 40px;
  width: calc(100% - 4rem);

}
.upcoming-events-section{
  background-color: var(--yellow-light);
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem;
}
.upcoming-events-box{
  background-color: var(--yellow-icon);
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 350px;
}
.upcoming-events-text{
  width:30%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 2rem;
  gap: 1rem;
}
.upcoming-events-content{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:70%;
  padding: 2rem 0;
  gap: 1rem;
}
.upcoming-events-item {
  width: 30%;
  background-color: #ffffff;
  padding: 1rem;
  height: 400px;
  border: 1px solid #000000;
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
.upcoming-events-item img{
 max-height:140px;
 object-fit: contain;
  width: 100%;
}
.upcoming-events-item h4{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
          line-clamp: 5; 
  -webkit-box-orient: vertical;
}
.upcoming-events-item p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .our-work-section{
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }
  .our-work-layout{
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: fit-content;
  }
  .upcoming-events-section{
    background-color: var(--yellow-light);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
  }
  .upcoming-events-box{
    background-color: var(--yellow-icon);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
  }
  .upcoming-events-text{
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 2rem;
    gap: 1rem;
  }
  .upcoming-events-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
  }
  .upcoming-events-item {
    width: 80%;
  }
} 
  

.our-work-image.equitable-engagement-img{
  width:60px;
  height:1650px;
  overflow: hidden;
}
.our-work-image.equitable-engagement-img img{
  object-fit: cover;
  background-position: center;
  height:100%;
}
.our-work-image.research-img{
  width:60px;
  height:1350px;
  overflow: hidden;
}
.our-work-image.research-img img{
  object-fit: cover;
  background-position: center;
  height:100%;
}
.our-work-image.writing-img{
  width:60px;
  height:1350px;
  overflow: hidden;
  background-position: center;
}
.our-work-image.writing-img img{
  object-fit: cover;
  background-position: center;
  height:100%;
}
.our-work-text{
 width:30%;
}
.two-col-resources{
  width:80%;
}
@media (max-width: 768px) {
  .our-work-text{
    width:100%;
   }
   .two-col-resources{
     width:100%;
   }

   .our-work-image{
    width:700px;
    height: 60px;
  }
  
  .our-work-image.equitable-engagement-img{
    max-width:700px;
    width:100%;
    height: 60px;
  }
  .our-work-image.our-work-image.equitable-engagement-img img{
    width:100%;
    height: 60px;
    max-width:700px;
    object-fit: cover;
    background-position: center;
  }
  .our-work-image.research-img{
    max-width:700px;
    width:100%;
    height: 60px;
  }
  .our-work-image.research-img img{
    width:100%;
    height: 60px;
    max-width:700px;
    object-fit: cover;
    background-position: center;
  }
  .our-work-image.writing-img{
    max-width:700px;
    width:100%;
    height: 60px;
  }
  .our-work-image.writing-img img{
    width:100%;
    height: 60px;
    max-width:700px;
    object-fit: cover;
    background-position: center;
  }
}
.resource-row{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width:100%;
}



.resource-col{
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.resource-item{
  background-color: #ffffff;
  border: 1px solid #000000;
  margin: 0 10px 10px 0px;
  height: 400px;
  display:flex;
  flex-direction: column;
  gap:1rem;
  justify-content: center;
}

.resource-item p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
          line-clamp: 4; 
  -webkit-box-orient: vertical;
}
.resource-item-text{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  height: 270px;
  padding: 0px 20px 20px 20px;
}
.resource-item-img{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}
.resource-item-img img{
  height: 150px;
  width:100%;
  object-fit: cover;
  object-position: center;
}
.join-section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #311C00 0%, rgba(49, 28, 0, 0.90) 100%), url("../assets/join-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.join-text{
  padding: 4rem;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:10px;
}

.footer-section{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width:100%;
}

.logo-section.footer-col{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.logo-section.footer-col img{
  height:30px;
}
.logo-section p{
  font-size:0.7em;
  font-weight: 400;
}
.footer-contents{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  width:100%;
}
.footer-col{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;;
  align-items: flex-start;;
  color: #ffffff;
  gap:20px;
  width:25%;
}
.footer-col a{
  color: #ffffff;
  text-decoration: none;
  font-family: 'Red Hat Text', sans-serif;
  font-size:0.9em;
}
.cc-license{
  background-color: #000000;
  color: #ffffff;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.cc-license p{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}


@media (max-width: 768px) {
  .join-text{
    padding: 1rem;
  }
  .resource-row{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width:100%;
  }
  
  
  .resource-col{
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .footer-section{
    display:flex;
    flex-direction: column;
    width:100%;
  }
  .footer-contents{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:fit-content;
  }
  .logo-section.footer-col{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-col{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap:20px;
    width:100%;
  }
  .cc-license{
    background-color: #000000;
    color: #ffffff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
  }
}

.other-practice{
  display:flex;
  flex-direction: row;
  background-color: var(--teal-light);
  width:100%;
  justify-content: center;
  align-items: center;
}
.other-practice .col-50{
  display:flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center;
  gap:40px;
}
.other-practice-title h3{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.other-practice .col-50:nth-of-type(1){
  border-right:1px solid #000000;
}
.other-practice-img{
  width:60px;
  height: 120px;
}

.other-practice-img.workplace-img{
  width:60px;
  height: 120px;
}

.other-practice-img.workplace-img img{
  max-width:60px;
  height: inherit;
  object-fit: cover;
  background-position: center;
}

.other-practice-img.media-img{
  width:60px;
  height: 120px;
}

.other-practice-img.media-img img{
  max-width:60px;
  height: inherit;
  object-fit: cover;
  background-position: center;
}

.mailing-list-section{
  display:flex;
  flex-direction: row;
  width:100%;
  background-color: var(--purple-icon);
}
.mailing-list-row{
  padding: 2rem 5rem;
  display:flex;
  flex-direction: row;
  width:100%;
}
.col-50{
  display:flex;
  flex-direction: column;
  justify-content: center;

  width:50%;
  gap:10px;
}
input{
  height: 40px;
  background-color: white !important;
}

@media (max-width: 768px) {
  .other-practice{
    display:flex;
    flex-direction: column;
    width:100%;
  }
  .other-practice .col-50:nth-of-type(1){
    border-right:none;
    border-bottom: 1px solid #000000;
  }
  .mailing-list-section{
    flex-direction: column;
    width: 100%;
  }
  .mailing-list-row{
    padding: 1rem;
    flex-direction: column;
    width: fit-content;
  }
  .col-50{
    flex-direction: column;
    width: 100%;
  }
  .col-50 input{
    width:100%
  }
}

.events-hero{
  background: linear-gradient(90deg, #ffffff70, #ffffff70), url("../assets/media-image.png");
 display:flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 padding: 5rem 5rem 5rem 5rem;
 gap: 40px;
}
.events-hero h1{
  font-family: 'Space Grotesk', sans-serif;
}

.events-row{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15rem;
}
.events-title-row{
  display:flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  width: 100%;
}
h2.red-subtitle{
  color: var(--blue-rich);
  font-weight: 500;
  text-transform: uppercase;
  /* border-bottom: 3px solid var(--blue-text); */
  line-height: 0.1em;
  margin: 20px 0 30px; 
  font-size:27px;
}
h2.red-subtitle span{

  
    padding:0 2rem; 

}
h2.red-subtitle span:before {
  border-top: 3px solid var(--blue-text);
  content: "";
  display: block;
  height: 1px;
  left: 200px;
  position: absolute;
  width: 320px;
  z-index: 0;
}
h2.red-subtitle span:after {
  border-bottom: 3px solid var(--blue-text);
  content: "";
  display: block;
  height: 1px;
  right: 200px;
  position: absolute;
  width: 320px; 
  z-index: 0;
}
.btn-row{
  display:flex;
  width:100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* h2.red-subtitle span:after {
  border-top: 3px solid var(--peach-rich);
  content: "";
  display: block;
  height: 80px;
  right: calc(50% - 250px);
  position: absolute;
  width: 1px;
  z-index: 0;
} */
.event-grid-section{
 
  background-color: var(--blue-light);
  margin:0
}

.event-information{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.event-short-description{
  width: 100%;
  text-align: center;
  padding-bottom:2rem;
  border-bottom: 2px solid #ffffff64;
}
.event-long-description{
  width: 100%;
}
.event-long-description div{
  display:flex;
  flex-direction: column;
  gap:1rem;
}
.event-long-description a{
  color: #ffffff;
}

.v-expansion-panel-title{
  display:flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.v-expansion-panel-title__icon{
  -webkit-user-select: none;
}
.about-event {
  background-color: var(--peach-light);
  padding: 2rem 18rem;
  display:flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid #000000;
}
.custom-select {

  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;

}

select {
  cursor: pointer;
  font-family: 'Space Mono', monospace !important;
  font-weight: 700  !important;
  letter-spacing: 2.4px  !important;
  padding: 15px;
  font-size: 24px;

}


select option{
  font-family: 'Space Mono', monospace !important;

}
.event-information{
  background-color: var(--blue-rich);
  color: #ffffff;
  padding: 4rem 4rem;
  width:100%;
}
.event-information h1{
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.5px;
  font-size: 40px;
}
.event-selection-row{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-light);
  gap: 2rem;
  padding: 1rem 0;
  border-bottom: 1px solid #000000;
}

.event-selector:hover{
  cursor: pointer;

}
h2.event-selector{
  font-size: 1.2em;
  opacity: 50%;

}
h2.event-selector.active{
  font-size: 1.4em;
  opacity: 100%;
}
p.event-date{
  font-weight: 800 !important;
}
.event-grid-section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 2em 5em 2rem 5rem;
  width:100%;
}
.event-grid-row{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width:100% !important;
  gap:20px;
}

.event-grid-col{
  display: flex;
  flex-direction: column;
  -webkit-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  max-width: 49%;
}


.event-grid-item{
  width:100%;
  height: 430px;
  background-color: #ffffff;
  border: 1px solid #000000;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}
.event-grid-item p{
  margin:0;
}
.event-grid-item p.event-description{
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 5; 
           line-clamp: 5; 
   -webkit-box-orient: vertical;
  }
  .event-speakers a{
  color: #000000;
  font-weight: 500 !important;
}
.event-speakersp strong {
  font-weight: 500 !important;
}
.event-speakers{
  display:flex;
  flex-direction: row;
}
.event-grid-padding{
  padding: 0 2rem;
  border-bottom: 1px solid #000000;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.event-tag-row{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  height: 40px;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

p.partnership-label{
  font-size:0.8em;
  font-weight:600;
}
img.partner-logo-img{
height:100%;
width:50px;
object-fit: contain; 
border-radius: 8px;
}
.partner-logo-section{
  display:flex;
  flex-direction: row;
  justify-content: flex-start !important;
  align-items: center !important;
  text-align: left !important;
  width: 50%;
  gap:1rem;
  padding: 0 1rem;
}
.event-item-row{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 250px;
}

.event-item-btn-row{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.event-title{
  height: 60px;
}
.event-type{
  width:25%;
}
/* .event-grid-item h2{
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 4; 
           line-clamp: 4; 
   -webkit-box-orient: vertical;
} */

.event-image img{
  width:200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 1px solid #000000;
}
.event-text{

  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:1rem;
  padding: 1rem 0;

}
.speakers-list a{
  color: var(--blue-text);

}
.past-event-grid-row{
  width:100%;
  height:fit-content;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.past-event-grid-item{
  border-top: 1px solid #000000;
  padding: 2rem 0;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:fit-content;
  gap: 4rem;
}
.past-event-col-1{
  width:40%;
  height:fit-content;
}
.past-event-col-2{
  width:60%;
  height:fit-content;
}

@media (max-width: 768px) {
  h2.red-subtitle span:before {

    left: 100px;
    width: 60px;

  }
  h2.red-subtitle span:after {

    right: 100px;

    width: 60px; 

  }
  .events-row{
    display:flex;
    padding: 0 1rem;
  }
  .event-information{
    display:flex;
    flex-direction: column;
    gap: 2rem;
  }
  .event-short-description{
    width: 100%;
  }
  .event-long-description{
    width: 100%;
  }
  .events-hero{

   width: 100%;
   padding: 1rem;
   gap: 40px;
  }
  .events-hero h1{
    font-family: 'Space Grotesk', sans-serif;
  }
  .events-row{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .event-grid-section{
    padding: 2em 1rem;
    width:100%;
  }
  .event-grid-row{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    width:100% !important;
    gap:20px;
  }
  
  .event-grid-col{
    display: flex;
    flex-direction: column;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .past-event-grid-item{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:fit-content;
    gap: 2rem;
  }
  .past-event-col-1{
    width:100%;
    height:fit-content;
  }
  .past-event-col-2{
    width:100%;
    height:fit-content;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .events-row{
    display:flex;
    padding: 0 5rem;
  }

  .event-grid-col{
    display: flex;
    flex-direction: column;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  h2.red-subtitle span:before {

    left: 160px;
    width: 200px;

  }
  h2.red-subtitle span:after {

    right: 160px;

    width: 200px; 

  }
}


.resource-page{
  display:flex;
  flex-direction: row;
  width:100%;
}
.resource-description{
  display:flex;
  flex-direction: column;
  width:70%;
  padding: 4rem 5rem;
  gap: 20px;
}
.resource-scroll-section{
  display:flex;
  flex-direction: row;
  width:60%;
  padding: 4rem 0;

}
.resource-scroller{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid #000000;
  z-index:100;
  height: fit-content;
  max-height: 800px;
}
.resource-scroller .v-virtual-scroll__container{
  display:flex !important;
  flex-direction: column;
  gap: 15px;
}
.resource-image{

  width:20%;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: -12rem;
}

.resource-menu li{
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.resource-menu ul{
  list-style-type: square;
  margin-left: 1.5rem;
  display:flex;
  flex-direction: column;
  gap: 20px;
}

.resource-menu a{
  text-decoration: none;
}

.resource-menu a:visited{
  color: unset
}
.our-writing-page .resource-description{
  background-color: var(--peach-light);
}
.our-writing-page .resource-scroll-section{
  background-color: var(--peach-light);
}
.our-writing-page  .resource-scroller{
  background-color: var(--peach-action);
}
.our-writing-page .resource-image{
  background-image: url("../assets/writing-image.png");
}
.our-writing-page .resource-menu li.isActive{
  color: var(--peach-text);
}


.our-research-page .resource-description{
  background-color: var(--blue-light);
}
.our-research-page .resource-scroll-section{
  background-color: var(--blue-light);
}
.our-research-page  .resource-scroller{
  background-color: var(--blue-action);
}

.our-research-page .resource-image{
  background-image: url("../assets/research-image.png");
}

.our-research-page .resource-menu li.isActive{
  color: var(--blue-text);
}

.our-engagements-page .resource-description{
  background-color: var(--peach-light);
}
.our-engagements-page .resource-scroll-section{
  background-color: var(--peach-light);
}
.our-engagements-page .resource-scroller{
  background-color: var(--peach-action);
}

.our-engagements-page .resource-image{
  background-image: url("../assets/eel-image.png");
}

.our-engagements-page .resource-menu li.isActive{
  color: var(--peach-text);
}

.our-teaching-page .resource-description{
  background-color: var(--teal-light);
}
.our-teaching-page .resource-scroll-section{
  background-color: var(--teal-light);
}
.our-teaching-page .resource-scroller{
  background-color: var(--teal-action);
}

.our-teaching-page .resource-image{
  background-image: url("../assets/workplace-image.png");
}

.our-teaching-page .resource-menu li.isActive{
  color: var(--teal-text);
}

.resource-menu li:hover {
  cursor: pointer;
}

.resource-description p{
  font-size: 20px;
}
.research-questions{
  background-color: var(--teal-light);
  display:flex;
  flex-direction: row;
  padding: 2rem 5rem;
  gap: 6rem;
}
.research-questions-description{
  width:50%;
}

.research-questions-content{
  width:50%;
}
.research-questions-content ol{
  background-color: #ffffff !important;
  border: 1px solid #000000;
  display:flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem 4rem;
  line-height: 2;
}

.v-virtual-scroll{
  width:100%;
}
.featured-items{
  height: 260px;
  background-color: #ffffff;
  border: 1px solid #000000;
  overflow: clip;
  width:100%;
  display:flex;
  flex-direction: column;
  gap:1rem;
}
.featured-item-text{
  margin:20px;
  display:flex;
  flex-direction: column;
  gap:1rem;
}
.featured-item-text p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}
.mobile-feature{
  display:none;
}
.mx-auto{
  width:100% !important;
  background-color: #ffffff00 !important;

}
.v-slide-group__content{
  display:flex !important;
  gap:20px !important;
}
@media (max-width: 768px) {

.teamContainer {
    display: grid;
    grid-template-columns: 1fr !important;
    width: 250px;
}

.imageContainer img {
    width: 200px;
}

  .top-feature{
    display:none;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #000000;
    gap: 20px;
    padding:1rem;
    height: fit-content;
    overflow: clip;
    
  }
  .top-feature-text{

    height: 340px;
    margin:0;
    width:100%;
  }
  .top-featured-image{

    width:100%;
    /* height: 340px; */
    
  }
  .featured-box{
    margin: -5rem 0rem 0rem 0rem;;
    padding: 1rem;
    background-color: var(--blue-light);
    border: 1px solid #000000;
  }

  .featured-layout{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    gap: 20px;

    height: fit-content;
  }
  .featured-column{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    height: fit-content;
    overflow: unset;
  }
  .desktop-feature{
    display: none;
  }
  .mobile-feature{
    display:flex;
    z-index: 100;
  }
  .featured-items{
    width: 75vw;
    height:350px;
    overflow: unset;
  }
  .secondary-featured{
    display:none;
  }
  .featured-item-text{
    width:100%;
    margin:0;
    padding:10px;
  }
  .v-slide-group__next, .v-slide-group__prev{
    min-width: 12px !important;
  }
  .v-slide-group{
    display:flex !important;
    gap:10px;
  }
}
/* width */
.featured-layout ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.featured-layout  ::-webkit-scrollbar-track {
  background: #f1f1f1; 

}
 
/* Handle */
.featured-layout  ::-webkit-scrollbar-thumb {
  background: var(--blue-text); 
  border-radius: 20px;
}

/* Handle on hover */
.featured-layout  ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.signup-form{
  background-color: var(--purple-icon);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}
.mc-field-group{
  display:flex;
  flex-direction: column;
  padding: 1rem 0;
}
.mc-field-group input{
  width: 400px;
}
.signup-form h3{
  padding: 2rem;
}

.team-title{
  margin-left: 1rem;
}

.teamContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 350px;
  gap: 2rem;
}

.imageContainer img{
  margin: 1rem;
  width: 300px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  border: 2px solid black;
}

.card-name{
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.card-title{
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.card-bio-link{
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.card-bio-link a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-family: 'Space Grotesk', sans-serif;
}

.card-bio-link img{
  width: 30px;
  height: 15px;
  margin-top: 5px;
}

.engagement_dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}